body{
    overflow-x: hidden;
}

img{
    max-width: 100%;
    height: auto;
}

span {
    color: #64ffda;
    padding: 10px;
}

.nav-link {
    color: white;
    font-size: 15px;
    font-family: monospace;
}

.btn {
    color: #64ffda; 
    width: 120px; 
    height: 40px; 
    font-size: 18px; 
    font-family: Roboto; 
    font-weight: bold;
}

.img-fluid{
    width: 90px;
    height: 90px;
}

.d-flex{
    padding-left: 30px;
    padding-right: 20px;
}

.h1 {
    margin: 100px 0px 15px 450px;
    color: #64ffda;
    font-family: monospace;
    font-size: 17px;
    font-weight: 400;
}

.custom1{
    font-size: 16.33px;
    display: flex;
    font-family: Roboto;
    justify-content: flex-end;
}

.h2{
    margin: 0px 0px 15px 450px;
    color: #ccd6f6;
    font-family:'Fira sans';
    font-size: 75px;
    font-weight: 600;
}

.h3{
    margin: 5px 0px 0px 450px;
    color: #8892b0;
    font-family: 'Fira mono';
    font-size: 75px;
    font-weight: 600;
    line-height: 0.9;
}

.p1{
    margin: 20px 0px 50px 450px;
    color: white;
    font-family: 'Fira code';
    font-size: 18px;
    font-weight: 100px;
    line-height: 1;
    max-width: 750px;
}

button a {
    color: #64ffda;
}
