body{
    overflow-x: hidden;
}

img{
    max-width: 100%;
    height: auto;
}

span {
    color: green;
}

.nav-link {
    color: white;
}

.btn {
    color:green; 
    width: 120px; 
    height: 40px; 
    font-size: 18px; 
    font-family: Roboto; 
    font-weight: bold;
}
.img-fluid{
    width: 90px;
    height: 90px;
}